@page "/"
@page "/home"

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4">
            <img src="assets/doctor-man.svg" class="d-block mx-lg-auto" alt="Bootstrap Themes" height="500" loading="lazy">
        </div>
        <div class="col-lg-8">
            <h1 class="display-5 fw-bold lh-1 mb-3">Donate Blood, Save Lives.</h1>
            <p class="lead">
                There is a hope of life to someone in your blood donation.<br />
                “You Can’t Buy A Life For Someone With Money, But You Can Save A Life Of Someone By Donating Blood To Him.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="login?redirectUri=/user-profile" class="btn btn-primary btn-lg px-4 me-md-2">Register now</a>
                <a href="mailto:zindagi@bhanu.dev" class="btn btn-outline-secondary btn-lg px-4">Contact us</a>
            </div>
        </div>
    </div>
</div>
