<div class="d-flex">
    <AuthorizeView>
        <Authorized>
            <a class="nav-link text-white" href="user-profile">Profile</a>
            <a class="nav-link text-white" href="logout">Log out</a>
        </Authorized>
        <NotAuthorized>
            <a class="nav-link text-white" href="login?redirectUri=/user-profile">Register / Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>
